* {
    box-sizing: border-box;
}

header {
    display:flex;
    flex-direction: column;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

h1 {
    text-align: center;
}

body, html{
    background-image: linear-gradient(#3D5770, #95C0E2);  
    height: 100%;
}

body {
    display:flex;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 1em;
    flex-direction: column;
    /* background-color: #CEDFFF; */
}

form {
    display:flex;
    justify-content: space-around;
    align-items: center;
    border:2px;
    border-color: black;
    border-style: solid;
    border-radius: 25px;
    overflow:hidden;
    flex-wrap: wrap;
    flex-direction: column;
    padding:2%;
}


button {
    font-size:0.7em;
    display: block;
}

main {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    width:100%;
}

.outputContainer {
    display: flex;
    border: 2px;
    width:77vw;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    overflow:hidden;
    padding-left:5%;
    padding-right:5%;
    flex-wrap:nowrap;
}

.textArea {
    width:75%;
    /* display: inline-block; */
    top:0;
    left:0;
    flex-wrap: nowrap;
    overflow:hidden;
    flex-direction: column;
    vertical-align: 
}

.textArea > p {
    flex:100%;
    display:block;
    width:100%;
}

.buttonArea {
    flex:50%;
    justify-content:center;
}

.buttonArea > button {
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    margin-top:13px;
    font-size:0.5em;
    min-width:54px;
}

.formInput {
    flex:100%;
    margin-left:10%;
    margin-right:10%;
    display:block;
}

#title {
    display:inline-block;
}

#url{
    width:300px;
}


.description {
    display:block;
    width:100%;
    overflow: scroll;
}

.submitArea {
    width: 100%;
    text-align: center;
    margin-bottom: 3%;
    margin-top: 3%;
}

p{
    display:inline-block;
    font-size: 0.7em;
    text-align: center;
    width:100%;
}

#submitButton {
    display:block;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
}

p#url {
    width:100%;
}

#titleText {
    width:100%;
}

#ratingText {
    flex:100%;
}

#userChoice {
    justify-content: space-around;
}

input#desc.description {
    width:60vw;
    font-size: 0.7em;
}

input#url {
    font-size: 1em;
    width:60vw;
}

input#title.movieTitle {
    width:60vw;
    font-size: 1em;
}


section.movieRating {
    display:flex;
    flex-direction: column;
    flex-wrap:nowrap;
    font-size: 0.9em;
}

#radioBox {
    flex: 100%;
    min-width: 100%;
    text-align: center;
}

input {
    margin:3px;
    padding:0;
}


.resultsDisplay {
    display:flex;
}

.selectionBox {
    text-align: center;
}

.textArea > p {
    margin-top:5px;
    margin-bottom:5px;
}

 /* #movieTitleStyle {
    font-weight: bold;
}  */

@media screen and (min-width: 720px) {
    body, html{
        background-image: linear-gradient(#3D5770, #95C0E2);  
        height: 100%;
    }

    .outputContainer {
        display: flex;
        border: 2px;
        width:78.5vw;
        border-style: solid;
        border-color: black;
        border-radius: 25px;
        overflow:hidden;
        padding-left:5%;
        padding-right:5%;
        flex-wrap:nowrap;
        margin-bottom:1%;
        padding-top:1%;
        padding-bottom:1%;
    }
}

@media screen and (min-width: 1020px) {
    body, html{
        background-image: linear-gradient(#3D5770, #95C0E2);  
        height: 100%;
    }

    p {
        font-size: 1.1em;
    }

    button {
        font-size: 1em;
    }


    .outputContainer {
        display: flex;
        border: 2px;
        width:79.8vw;
        border-style: solid;
        border-color: black;
        border-radius: 25px;
        overflow:hidden;
        padding-left:10%;
        padding-right:5%;
        flex-wrap:nowrap;
        margin-bottom:1%;
        padding-top:1%;
        padding-bottom:1%;
    }

    .buttonArea > button {
        font-size: 1.2em;
        width:100px;
    }